body{
    background-color: #ecf0f1;
}

.btn{
    cursor: pointer;
}

h1{
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

.clicked{
    color: #7f8c8d;
}
/*
html에 클래스명을 할당하지 않고서도,
자바스크립트에서 해당 클래스의 스타일 속성값을 사용하기 위해
css에서만 클래스를 만들수도 있다.

당연하지 왜냐?
원래는 css문서에서 스타일 속성들을 먼저 정의하고,
적용하기를 원하는 html 태그에 해당 css의 class, id명을 할당하는 개념이니까! 

헷갈리기 쉬운게 우리가 항상 html태그에 id, class 작성하고나서
css로 하니까, html에 먼저 할당해야하는줄 알지만,
사실 css자체가 스타일시트를 먼저 작성하고나서 
적용하고 싶은 html문서, 태그에 할당하고 적용하는 개념으로 보면 됨.

개발자 도구에서 h1 태그에 'clicked' 라는 
css에만 존재하는 클래스명을 h1 태그에도 할당하면 color가 바뀌는 걸 볼 수 있는데

이거를 js로 수행하면 되는거지.
직접 js가 컬러값을 수정하지 않더라도, html 태그의 class만 접근해서 수정해도
스타일을 간접적으로 수정할 수 있는거!
*/